<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "懐かし合唱曲" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="min-h-screen flex flex-col">
  <header class="bg-blue-600 p-4 flex w-full">
    <div class="container mx-auto flex-auto">
      <h1 class="text-2xl font-bold text-white">懐かし合唱曲</h1>
    </div>
    <div>
      <%= render "search", q: @q, url: songs_path %>
    </div>
  </header>

  <main class="flex-grow flex justify-center items-start">
    <%= yield %>
  </main>

  <footer class="bg-gray-800 text-white text-center p-4 w-full mt-5">
    <p>&copy; 2024 懐かし合唱曲. All Rights Reserved.</p>
  </footer>
</body>
</html>
